openapi: 3.2.0
info:
  title: Suki Platform Form Filling Content API
  description: 'The Suki Platform REST API lets healthcare technology partners embed Suki''s

    ambient clinical documentation, dictation, form-filling, voice command, and

    coding-assistance capabilities into EHRs, telehealth platforms, care

    management systems, and revenue-cycle tools.


    Partner credentials are issued directly by Suki and are not available through

    public self-service signup. Authentication uses provider registration and

    JWT-based session tokens; JWKS material is served by the platform.


    All endpoints use the `/api/v1/` prefix.

    '
  version: 1.0.0
  contact:
    name: Suki Partnerships
    url: https://developer.suki.ai/documentation/overview
  license:
    name: Proprietary
servers:
- url: https://developer.suki.ai/api/v1
  description: Suki Platform API (partner environment)
security:
- bearerAuth: []
tags:
- name: Form Filling Content
paths:
  /form-filling/sessions/{id}/structured-data:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Form Filling Content
      summary: Retrieve structured form data extracted from the session
      operationId: getFormFillingStructuredData
      responses:
        '200':
          description: Structured form data
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token issued by Suki after partner registration and login.

        Partner credentials are provisioned by Suki (no self-service signup).

        '
