openapi: 3.2.0
info:
  title: Suki Platform Info API
  description: 'The Suki Platform REST API lets healthcare technology partners embed Suki''s

    ambient clinical documentation, dictation, form-filling, voice command, and

    coding-assistance capabilities into EHRs, telehealth platforms, care

    management systems, and revenue-cycle tools.


    Partner credentials are issued directly by Suki and are not available through

    public self-service signup. Authentication uses provider registration and

    JWT-based session tokens; JWKS material is served by the platform.


    All endpoints use the `/api/v1/` prefix.

    '
  version: 1.0.0
  contact:
    name: Suki Partnerships
    url: https://developer.suki.ai/documentation/overview
  license:
    name: Proprietary
servers:
- url: https://developer.suki.ai/api/v1
  description: Suki Platform API (partner environment)
security:
- bearerAuth: []
tags:
- name: Info
paths:
  /info/specialties:
    get:
      tags:
      - Info
      summary: List supported clinical specialties
      operationId: listSpecialties
      responses:
        '200':
          description: List of specialties
  /info/diagnoses:
    get:
      tags:
      - Info
      summary: List supported diagnosis codes
      operationId: listDiagnoses
      responses:
        '200':
          description: List of diagnosis codes
  /info/encounter-types:
    get:
      tags:
      - Info
      summary: List supported encounter types
      operationId: listEncounterTypes
      responses:
        '200':
          description: List of encounter types
  /info/visit-types:
    get:
      tags:
      - Info
      summary: List supported visit types
      operationId: listVisitTypes
      responses:
        '200':
          description: List of visit types
  /info/provider-roles:
    get:
      tags:
      - Info
      summary: List supported provider roles
      operationId: listProviderRoles
      responses:
        '200':
          description: List of provider roles
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token issued by Suki after partner registration and login.

        Partner credentials are provisioned by Suki (no self-service signup).

        '
